<?php
return array(
    // db connection
    'db' => array(
        'host' => 'localhost',
        'port' => 3306,
        'username' => '',
        'password' => '',
        'database' => ''
    ),
    // initial migration
    'initial_migration' => array(
        // number of values in insert query
        'bulk_count' => 100,
        // number of rows to insert in table
        'rows_count' => 1000000
    )
);